@charset "utf-8";
/* CSS Document */

.jumboback {
    background-image: url('../images/pa0_b.jpg');
    background-size: cover;
    min-height: 350px;
    margin-bottom:0px;
    background-position: center -300px;
    color: white;
    text-shadow: black 2em 2em 2em;
}

.section_div_img {
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
}
.container-fluid {
    background-color:#D5F5E3;
}

.container-fluid r{
    /*background-color:#F5B7B1;*/
}


.anchor-container {
    padding-top: 10px;
}

.topspacer {
    padding-top: 70px;
}

:target:before {
    content:"";
    display:block;
    height:80px; /* fixed header height*/
    margin:-80px 0 0; /* negative fixed header height */
}


/* logos on the navbar */
.cl-navbar-logo {
    width: 3em;
    height: 3em;
}

.navbar-custom {
    background-color: #1E90FF !important;
    color: #FFFFFF !important;
}
